.about {
  padding-top: 34px; }

.about .logo {
  background-image: url("../img/logo.png");
  width: 170px;
  height: 170px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px; }

.about .desc {
  color: #b4b4b4;
  width: 90%;
  margin: 0 auto; }

.about .desc div {
  border-bottom: 1px solid #e7e7e7;
  padding: 12px 0; }

.about .desc div span {
  width: 40%;
  display: inline-block;
  margin-right: 20px; }
