.library {
  .login-tips {
    width: 310px;
    margin: 0 auto;
    margin-top: 58px;
    overflow: scroll;
    text-align: center;
  }
  .search {
    background-color: yellow;
    background-image: url('../img/library-head.png');
    background-size: cover;
    padding-top: 41%;
    padding-bottom: 10%;
    margin-bottom: 20px;
  }
  .library-details {
    a {
      display: block;
      width: 88%;
      margin: 0 auto;
      background-image: url('../img/banner.png');
      background-size: cover;
      padding-top: 51%;
    }
  }
  .banner {
    margin-top: 30px;
    padding-top: 38%;
    background-size: cover;
  }
  .one {
    background-image: url('../img/2-3a.png');
  }
  .two {
    background-image: url('../img/3-4a.png');
  }
  .three {
    background-image: url('../img/4-5a.png');
  }
  .four {
    background-image: url('../img/5-6a.png');
  }
}

.libraryClassResults {
  // background-color: #fff;
  .results {
    margin-top: 0;
  }
}

.classification {
  width: 100%;
  background-color: #effff7;
  .search {
    background-color: yellow;
    background-image: url('../img/library-head2.png');
    background-size: cover;
    padding-top: 41%;
    padding-bottom: 10%;
    margin-bottom: 20px;
  }
  .tags {
    width: 100%;
    height: 54%;
    overflow: scroll;
  }
  a {
    width: 88%;
    display: block;
    border: 1px solid #b4d2c9;
    margin: 0 auto;
    margin-bottom: 12px;
    border-radius: 12px;
    padding-top: 23.8%;
    overflow: hidden;
    background-size: cover;
    &:nth-of-type(1) {
      background-image: url('../img/2-3.png');
    }
    &:nth-of-type(2) {
      background-image: url('../img/3-4.png');
    }
    &:nth-of-type(3) {
      background-image: url('../img/4-5.png');
    }
    &:nth-of-type(4) {
      background-image: url('../img/5-6.png');
    }
  }
}
