.login .before .logo {
  background-image: url("../img/logo.png");
  width: 170px;
  height: 170px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px; }

.login .before input[type="text"], .login .before input[type="password"] {
  box-sizing: border-box;
  width: 100%;
  padding: 0 12px;
  height: 40px;
  outline: none;
  border: 1px solid #919191;
  border-radius: 8px; }

.login .before .getcode-btn {
  box-sizing: border-box;
  width: 35%;
  height: 40px;
  outline: none;
  border-top: 1px solid #fe454f;
  border-right: 1px solid #fe454f;
  border-bottom: 1px solid #fe454f;
  border-left: 1px solid #fe454f;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #fe454f;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 11px; }

.login .after {
  background-color: #ebebeb; }
  .login .after div {
    border-bottom: 1px solid #e7e7e7;
    color: #b4b4b4;
    padding: 16px 10px;
    background-color: #fff; }
    .login .after div:first-of-type {
      margin-bottom: 20px;
      box-sizing: border-box; }
    .login .after div:nth-of-type(4) {
      margin-bottom: 20px; }
    .login .after div:last-of-type {
      margin-bottom: 55px; }
    .login .after div .btns {
      float: right;
      line-height: 18px; }
    .login .after div a {
      text-decoration: none;
      color: #b4b4b4; }
      .login .after div a span:last-of-type {
        float: right;
        line-height: 18px; }
    .login .after div .title {
      width: 30%;
      display: inline-block;
      color: #000;
      padding-left: 10px; }
  .login .after button {
    display: block;
    width: 90%;
    margin: 0 auto;
    height: 40px;
    background-color: #fe454f;
    outline: none;
    border: none;
    color: #fff;
    font-size: 16px;
    text-align: center; }

.login-part div {
  margin-bottom: 18px; }
  .login-part div:last-of-type {
    margin-bottom: 54px; }

.login-part:nth-child(2) {
  width: 65%;
  margin: 0 auto;
  position: relative; }

.login-part:nth-child(3) {
  width: 65%;
  margin: 0 auto; }

.loginBtn {
  margin-top: 58px; }
  .loginBtn li {
    display: inline-block;
    width: 50%;
    text-align: center;
    height: 26px;
    line-height: 26px; }

.notie-alert {
  z-index: 100; }
