.login {
  // text-align: center;
  .before {
    input[type="text"], input[type="password"] {
      box-sizing: border-box;
      width: 100%;
      padding: 0 12px;
      height: 40px;
      outline: none;
      border: 1px solid #919191;
      border-radius: 8px;
    }
    input[type="button"] {
      box-sizing: border-box;
      width: 35%;
      padding: 0 12px;
      height: 40px;
      outline: none;
      border-top: 1px solid #fe454f;
      border-right: 1px solid #fe454f;
      border-bottom: 1px solid #fe454f;
      border-left: 1px solid #fe454f;
      // border-radius: 9px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      background-color: #fe454f;
      color: #fff;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 11px;
    }
  }
  .after {
    padding: 0 30px;
    div {
      border-bottom: 1px solid #e7e7e7;
      color: #b4b4b4;
      padding: 12px 0;
      &:last-of-type {
        margin-bottom: 55px;
      }
      .btns, a {
        float: right;
        background-color: #fe454f;
        color: #fff;
        padding: 0 8px;
        border-radius: 6px;
        font-size: 14px;
        text-decoration: none;
        height: 22px;
        line-height: 22px;
      }
      .title {
        width: 30%;
        display: inline-block;
      }
    }
    button {
      display: block;
      width: 60%;
      margin: 0 auto;
      height: 40px;
      background-color: #fe454f;
      outline: none;
      border: none;
      border-radius: 25px;
      color: #fff;
      font-size: 16px;
      // letter-spacing: 10px;
      text-align: center;
    }
  }
}



.login-part {
  div {
    margin-bottom: 18px;
    &:last-of-type {
      margin-bottom: 54px;
    }
  }
  &:nth-child(2) {
    // background-color: red;
    width: 65%;
    margin: 0 auto;
    position: relative;
  }
  &:nth-child(3) {
    // background-color: yellow;
    width: 65%;
    margin: 0 auto;
  }
}

.loginBtn {
  margin-top: 58px;
  li {
    display: inline-block;
    width: 50%;
    text-align: center;
    height: 26px;
    line-height: 26px;
  }
  div {
    // display: inline-block;
  }
}

// notie-textbox notie-background-error notie-alert notie-container
.notie-alert {
  z-index: 100;
}
