.login .before input[type="text"], .login .before input[type="password"] {
  box-sizing: border-box;
  width: 100%;
  padding: 0 12px;
  height: 40px;
  outline: none;
  border: 1px solid #919191;
  border-radius: 8px; }

.login .before input[type="button"] {
  box-sizing: border-box;
  width: 35%;
  padding: 0 12px;
  height: 40px;
  outline: none;
  border-top: 1px solid #fe454f;
  border-right: 1px solid #fe454f;
  border-bottom: 1px solid #fe454f;
  border-left: 1px solid #fe454f;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #fe454f;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 11px; }

.login .after {
  padding: 0 30px; }

.login .after div {
  border-bottom: 1px solid #e7e7e7;
  color: #b4b4b4;
  padding: 12px 0; }

.login .after div:last-of-type {
  margin-bottom: 55px; }

.login .after div .btns, .login .after div a {
  float: right;
  background-color: #fe454f;
  color: #fff;
  padding: 0 8px;
  border-radius: 6px;
  font-size: 14px;
  text-decoration: none;
  height: 22px;
  line-height: 22px; }

.login .after div .title {
  width: 30%;
  display: inline-block; }

.login .after button {
  display: block;
  width: 60%;
  margin: 0 auto;
  height: 40px;
  background-color: #fe454f;
  outline: none;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 16px;
  text-align: center; }

.login-part div {
  margin-bottom: 18px; }

.login-part div:last-of-type {
  margin-bottom: 54px; }

.login-part:nth-child(2) {
  width: 65%;
  margin: 0 auto;
  position: relative; }

.login-part:nth-child(3) {
  width: 65%;
  margin: 0 auto; }

.loginBtn {
  margin-top: 58px; }

.loginBtn li {
  display: inline-block;
  width: 50%;
  text-align: center;
  height: 26px;
  line-height: 26px; }

.notie-alert {
  z-index: 100; }
