.library {
  // color: red;
  & > div {
    // background-color: red;
    width: 60%;
    margin: 0 auto;
    position: relative;
    span {
      position: absolute;
      top: 2px;
      right: 8px;
      color: #ff7849;
    }
  }
  input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    width: 100%;
    // padding: 8px;
    height: 32px;
    padding: 0 12px;
    box-sizing: border-box;
  }
}
