.back {
  height: 34px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffcd46;
  width: 100%; }
  .back div:first-of-type {
    display: inline-block;
    width: 36px;
    height: 26px;
    line-height: 24px;
    text-align: center;
    margin: 4px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0; }
  .back .title {
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 36px;
    color: #fff;
    font-size: 20px; }
