.results {
  width: 310px;
  margin: 0 auto;
  margin-top: 58px;
  overflow: scroll;
  .tips {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  div {
    display: inline-block;
    vertical-align: bottom;
    width: 70px;
    margin-right: 8px;
    margin-bottom: 14px;
    position: relative;
    a {
      text-decoration: none;
      color: #000;
    }
    &:nth-child(4n + 4) {
      margin-right: 0;
    }
    .check {
      position: absolute;
      top: 6px;
      left: 6px;
      color: #7ae86f;
    }
    img {
      width: 100%;
      display: block;
    }
    p {
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
